<div class="container box">
    <div class="row">
        <div class="twelve columns">
            <h1 class="">Greetings <span class="">123</span> </h1>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <div class="error">
                <p>errors</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <form action="" method="post">
                <label for="">Name:</label>
                <input type="text" name="nameEntered" placeholder="Enter your name">
                <button name="greetButton">Greet</button>
            </form>
            <div class="row">
                <div class="three columns">
                    IsiZulu
                    <input type="radio" name="language" value="isizulu">
                </div>

                <div class="three columns">
                    Spanish
                        <input type="radio" name="language" value="spanish">
                </div>

                <div class="three columns">
                    English
                        <input type="radio" name="language" value="english">
                </div>
            </div>
        </div>
    </div>
</div>