<div class="container box">
  <div class="row">
    <div class="twelve columns">
      {{#if messages.info}}
        <div class="errors" id="errors">
          <p> <b>{{messages.info}}</b> </p>
        </div>
      {{/if}}
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <div class="row">
        <form action="greetme" method="post">

          {{! <label for="">Name: }}
          <input type="text" name="nameEntered" placeholder="Enter your name" />
          <span class="countGretings">{{greetings}}</span>
          {{! </label> }}

          <div class="row">
            <div class="four columns">
              IsiZulu
              <input type="radio" name="language" value="isizulu" />
            </div>

            <div class="four columns">
              Spanish
              <input type="radio" name="language" value="spanish" />
            </div>

            <div class="four columns">
              English
              <input type="radio" name="language" value="english" />
            </div>
          </div>

          <button
            name="greetButton"
            class="button-primary"
            type="submit"
          >Greet</button>

        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <div class="output">
        <span> <b> {{greetPerson}} </b></span>
      </div>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="twelve columns">

      <form action="/resethome" method="post">
        <p>
          <button class="button-primary" type="submit">Reset</button>
        </p>

        <p>
          <a href="/greeted">View Greeted name(s)</a>
        </p>
      </form>
    </div>

  </div>
</div>