* {
    text-align: center;
    align-items: center;
}

body {
    height: 100vh;
}

.errors p {
    color: red;
    height: auto;
}

.output span {
    font-size: 35px;
    color: purple;
    text-shadow: 1px 2px 4px rgb(72, 45, 78);
}

.countGretings {
    font-size: 30px;
    font-weight: bold;
    border: 2px solid rgb(72, 45, 78);
    border-radius: 50%;
    margin-left: 40px;
    padding: 12px;
}